<header class="d-flex justify-content-between align-items-center h-100">
    <div class="logo">Tech Dev</div>
    @if (userStore?.user(); as user) {
    <span>Hello {{ user.name }}</span>
    }
    <nav class="navbar">
        <a class="nav-item" routerLink="posts" routerLinkActive="active">Posts</a>
        <a class="nav-item" routerLink="todos" routerLinkActive="active">Todos</a>
        @if (userStore?.user()) {
        <button type="button" class="btn btn-secondary" (click)="onSignOut()">Sign Out</button>
        } @else {
        <button type="button" class="btn btn-primary" routerLink="signin">Sign In</button>
        }
    </nav>
</header>
